
body{
   
 
}


.sidebar-img{
    background-color: #F38A5D;
    border-radius: 0px 0px 0px 100px;
    
   
}

.headertext{
     margin-top: 100px;
}
.text-bloting{
    font-weight: 900;
    font-size: 60px;
}
#button{
    background-color: #F38A5D;
    border: none;
    border-radius: 100px;
    Width:200px;
    Height:80px;
}
.rating{
    margin-top: 200px;
}
.card2nd{
    margin-top: 200px;
}

.first-card{
    border: none;
}
#btn{
    background-color: #DBDDDE;
    color: black;
    border: none;
    border-radius: 100px;
    Width:200px;
    Height:40px;
}

.text-{
    font-weight: 500;
    font-size: 40px;
}

.second-card{
    border: none;
    box-shadow: 5px 5px 5px 5px lightgray;
    border-radius: 13px;
    background-color: #212B33;
    color: white;
   
}
.third-card{
    border: none;
    box-shadow: 5px 5px 5px 5px lightgray;
    border-radius: 13px; 
    background-color: #F9FAFB;
  
}

.icon{
    margin-left: 15px;
}

.third-part{
    margin-top: 200px;
}
.p-navitem{
    font-size: 20px;
    font-weight: 400;
}
.four-card{
    border: none;
    box-shadow: 5px 5px 5px lightgray;
    border-radius: 13px; 

}
.product-e{
    width: 100%;
}
.four-part{
    margin-top: 100px;
}
.part-five{
    margin-top: 100px;
    background-color: #212B33; 
    border: none;
    border-radius: 15px;
    color: white;
}
.email-discount{
    margin-top: 150px;
}

.footer-back{
    background-color: #212B33;
    height: 50%;
    color: white;
}
ol li{
    list-style: none;
    float: left;
    padding: 5px;
}

h6{
    margin-top: 100px;
}
.footer-list ul li{

    list-style: none;
    padding: 5px;
}
.ft-img{
    margin-top: 100px;
   
}
.sl-app{
    margin-top: 50px;
}

@media (min-width: 390px) {  
    .sidebarimage img {
        
        padding: 0px 0px 0px 0px;
    }
}
@media (min-width: 480px) {  
    .sidebarimage img {
        
        padding: 0px 0px 0px 0px;
    }
}
@media (min-width: 576px) {  
    .sidebarimage img {
        
        padding: 0px 0px 0px 0px;
    }
}

@media (min-width: 768px) {  
    .sidebarimage img {
        
        padding: 0px 0px 0px 0px;
    }
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .sidebarimage img {
        
        padding: 0px 0px 0px 0px;
    }
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    .sidebarimage img {
        
        padding: 0px 0px 0px 0px;
    }
}
 
/* Extra extra large devices (extra large desktops, 1400px and up) */
@media (min-width: 1400px) {  
    
}